<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978165118544-p9tdt94net6autacrlr1nqansrihk3ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978165118544-p9tdt94net6autacrlr1nqansrihk3ku</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978165118544-itb2hb6kpj5kcl9qn4cdvpfjd995qdg6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHwowaLAOtEcopeqwL7T2TliJwjf6pOqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>978165118544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.postme.postme</string>
	<key>PROJECT_ID</key>
	<string>postme-390612</string>
	<key>STORAGE_BUCKET</key>
	<string>postme-390612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978165118544:ios:163c6743d54abaf0cc4355</string>
</dict>
</plist>